
* {
  font-size: 32px;
  font-family: Arial, Sans-serif;
}

p {
  text-align: center;
}

#savedTimes {
  color: #666666;
}

#savedTimes p {
  padding: 15px;
  margin: 0;
}

#savedTimes p:hover {
  background: #eeffee;
}

.e, .x {
    visibility: hidden;
    text-decoration:none;
    padding: 5px 10px;
}

.e {
    color: #ffffff;
    background: #009900;
}

.x {
    color: #ffffff;
    background: #ee0000;
}

#savedTimes p:hover .e, #savedTimes p:hover .x {
    visibility: visible;
}

#timer, #todayCount {
  font-size: 36px;
  font-weight: bold;
}

#count {
  background: #ddffee;
  padding: 10px;
  color: #000000;
}

#startBtn, #stopBtn {
  color: #ffffff;
  font-size: 50px;
  background: #3498db;
  padding: 10px 100px 10px 100px;
  text-decoration: none;
}

#resetBtn {
  color: #ffffff;
  font-size: 12px;
  background: #ff9966;
  text-decoration: none;
  padding: 5px 10px 5px 10px;
}

#startBtn {
  background: #339966;
}

#stopBtn {
  background: #993333;
}

#startBtn:hover {
  background: #33cc66;
}

#stopBtn:hover {
  background: #cc3333;
}